<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".JeanCalculVoiceInteractionService"
            android:exported="true"
            android:label="Jean-Calcul Assistant"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>

            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/voice_interaction_service" />
        </service>

        <service
            android:name=".UnavailableRecognitionService"
            android:exported="true"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION_SERVICE">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
